<div class="container">
  <div class="card">
    <div class="card-body configurator">
      <h1 style="margin: 0 0 20px 0">Configuration Builder</h1>
      <h3>text input changes configs onBlur</h3>
      <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="startDate">startDate</label>
            <input #startDate (blur)="setDate('startDate', startDate.value);buildConfig()" [value]="config.dateRange.startDate" type="text" name="startDate" class="form-control" id="startDate">
          </div>
          <div class="form-group">
            <label for="endDate">endDate</label>
            <input #endDate (blur)="setDate('endDate', endDate.value);buildConfig()" [value]="config.dateRange.endDate" type="text" name="endDate" class="form-control" id="endDate">
          </div>
          <div class="form-group">
            <label for="minDate">minDate</label>
            <input #minDate (blur)="setDate('minDate', minDate.value);buildConfig()" [value]="config.dateRange.minDate" type="text" name="minDate" class="form-control" id="minDate" value="" ng-init="config.minDate = ">
          </div>
          <div class="form-group">
            <label for="maxDate">maxDate</label>
            <input #maxDate (blur)="setDate('maxDate', maxDate.value);buildConfig()" [value]="config.dateRange.maxDate" type="text" name="maxDate" class="form-control" id="maxDate" value="" ng-init="config.maxDate = ">
          </div>
        </div>
        <div class="col-md-6">
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="showDropdowns" [(ngModel)]="config.options.showDropdowns" id="showDropdowns"> showDropdowns
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="showWeekNumbers" [(ngModel)]="config.options.showWeekNumbers" id="showWeekNumbers"> showWeekNumbers
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="showISOWeekNumbers" [(ngModel)]="config.options.showISOWeekNumbers" id="showISOWeekNumbers"> showISOWeekNumbers
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="timePicker" [(ngModel)]="config.timePicker.show" id="timePicker"> timePicker
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="timePicker24Hour" [(ngModel)]="config.timePicker.timePicker24Hour" id="timePicker24Hour"> timePicker24Hour
            </label>
          </div>
          <div class="form-group">
            <label for="timePickerIncrement">timePickerIncrement (in minutes)</label>
            <input (blur)="buildConfig()" type="text" name="timePickerIncrement" [(ngModel)]="config.timePicker.timePickerIncrement" class="form-control" id="timePickerIncrement" value="1">
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="timePickerSeconds" [(ngModel)]="config.timePicker.timePickerSeconds" id="timePickerSeconds"> timePickerSeconds
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="dateLimit" [(ngModel)]="setDateLimit" id="dateLimit"> dateLimit (with example date range span)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <!-- Only the config.ranges value needs to be set in order for the calendar to function correctly, setting rangesEnabled is solely for the purpose of the input box for the demo; so rangesEnabled is not used anywhere in the DaterangePicker code -->
              <input (change)="buildConfig()" type="checkbox" name="rangesEnabled" [(ngModel)]="setRanges" id="ranges"> ranges (with example predefined ranges)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="localeEnabled" [(ngModel)]="localeEnabled" id="locale"> locale (with example settings)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="linkedCalendars" [(ngModel)]="config.options.linkedCalendars" id="linkedCalendars" ng-init="config.linkedCalendars=true"> linkedCalendars
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input (change)="buildConfig()" type="checkbox" name="alwaysShowCalendars" [(ngModel)]="config.options.alwaysShowCalendars" id="alwaysShowCalendars"> alwaysShowCalendars
            </label>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 demo">
      <h4>Your Date Range Picker</h4>
       <dp-daterange-picker [inputId]="'config-demo'" [config]="config$ | async"></dp-daterange-picker> 
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
    </div>
    <div class="col-md-6">
      <h4>Configuration</h4>
      <div class="well">
        <pre style="text-indent:0" [innerHTML]="(config$ | async) | json">
        </pre>
      </div>
    </div>
  </div>
</div>